
<h1>Bem vindo(a)</h1>

<div class="card">

    <div class="card-body">
        <form action="/converter" class="mb-3 d-flex flex-column" method="POST">
            <input type="file" class="form-control" name="file1" id="file1" required>
            <input type="file" class="form-control" name="file2" id="file2" required>
            <button class="btn btn-outline-primary" id="button-addon2">Converter</button>
        </form>
    </div>

</div>

<hr>

